

# Ignore Python virtual environment and dependencies
speech_recognition/
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore any hidden files or folders
.*
!.dockerignore

# Ignore logs and temporary files
*.log
*.tmp
*.temp
*.bak
*.swp

# Ignore large datasets or other unnecessary files
data/
notebooks/
*.csv
*.xlsx
*.pkl
*.mp4
*.mp3
*.wav
